

@font-face {
  font-family: 'Px-Grotesk-Bold';
  src:  url('a_fonts/Px-Grotesk-Bold.woff2') format('woff2'),
        url('a_fonts/Px-Grotesk-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Px-Grotesk-Regular';
  src:  url('a_fonts/Px-Grotesk-Regular.woff2') format('woff2'),
        url('a_fonts/Px-Grotesk-Regular.woff') format('woff');
}

body {
  font-family: 'Px-Grotesk-Bold', Fallback, sans-serif;
    color: white;
    font-size: 16px;
}

h5 {
    font-family: 'Px-Grotesk-Regular', Fallback, sans-serif;
    position: absolute;
    font-size: 16px;
    margin-left: 5%;
    z-inde: 9999999;
    color: black;
}


#mapid { 
    height: 100vh;
/*    height: 515px;*/
   /*    width: 800px;*/
}


h4 {
    position: absolute;
    margin-top:50%;
    text-decoration: underline;
    color: orange;
    line-height: 1.1;
    width: 780px;
    margin-left: 4%;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

em {
  
    font-style: italic;
}

a {
  
   color: white;
}

a:hover{
    color: orange;
    text-decoration: none;
}


#font {
    margin-left: 250px;
    position: absolute;
    z-index: 9999;
}


b {
    font-family: 'Px-Grotesk-Bold', Fallback, sans-serif; 
    
}

#headline {
    font-family: 'Px-Grotesk-Bold', Fallback, sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    z-index: 9999;
    font-size: 78px;

}

#link {
    font-family: 'Px-Grotesk-Bold', Fallback, sans-serif;
    position: absolute;
    margin-top: 90vh;
    margin-left: 2%;
    color: white;
    z-index: 9999;
    font-size: 78px;

}

/* MARKER IMAGES */

.my-div-icon {
    margin-left: 250px;
    position: absolute;
    font-size:20px;    
}

/* GENERAL BACKGROUND */

.leaflet-container {
    background: #000;
    outline: 0;
    font-family: 'Px-Grotesk-Bold', Fallback, sans-serif;
    font-size: 14;


}

/* POPUP */

.leaflet-popup-content-wrapper {
    
       background: #fff;
    border-radius: 0px;
    width: 159px;
   box-shadow: none;
 }

.leaflet-popup-tip {
    display: none;
}



/* TOOLTIP */
.leaflet-tooltip-right:before {
    display: none;
    box-shadow: none;
}

.leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background-color: white;
    border: none;
    border-radius: 0px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: none;
        color: black;

}


/* INFO MENU */

.fa{
    font-size: 20px;
    margin-top: 5px;
}
.leaflet-control-slidemenu{
    cursor: pointer;
}

.leaflet-menu{
    position: absolute;
    background-color: rgba(255, 255, 255, 255);
    overflow: auto;
    cursor: default;
    z-index: 9999;
}

.leaflet-menu::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777;   
}

.leaflet-menu-close-button{
    background-color: transparent;
    border: none;
    font-size: 14pt;
    margin-left:10px;
    margin-top:10px;
    color: 'black';
    cursor: pointer;
}

.leaflet-menu-close-button:hover{
    color: #4285F4;
}